<%- include('partials/header')%>
<link rel='stylesheet' type='text/css' href='/app.css'>


<div class="container">

  <h1>Weather Forecast</h1>
  <div>
    <ul>
      <div>
        <p class="place"><%=namecity%>, <%=namecountry%></p>
        <p class="description"><%= description %></p>
        <p class="temp"><%= Math.round(temperature) %>ยบ</p>
      </div>
      <li>Min Temperature: <%= Math.round(mintemperature) %>ยบ</li>
      <li>Max Temperature: <%= Math.round(maxtemperature) %>ยบ</li>
      <li>Humidity: <%= humidity %>%</li>
      <li>Sunrise: <%= formatedSunrise %></li>
      <li>Sunset: <%= formatedSunset %></li>
    </ul>
  </div>
  <div>
    <p>Search Again</p>
  </div>
  <form action='/weather' method='GET'>
    <input type='text' name='city' placeholder='City'>
    <input type='text' name='country' placeholder='Country'>
  <button type='submit'>Get Weather!</button>
  </form>
</div>
<%- include('partials/footer')%>